**/.git/
**/.gitignore
**/.dockerignore
**/.env
**/.vs/
**/bin/
**/obj/
**/node_modules/
**/packages/
**/*.user
**/*.lock
**/appsettings.Development.json
**/appsettings.Local.json
**/secrets/
**/*.pem
**/*.key
**/README.md
**/Dockerfile*
**/docker-compose*
**/.github/
**/trivy-*.txt
